.img {
    width: 300%;
    margin: 0;
    padding: 0;
}

.img_container{
    width: 10%;
}
.detail_container {
    display: flex;
    flex-direction: row;
}

.cant_button{
    display: flex;
    flex-direction: row;
}

.h2_price{
    font-size: 100%;
}

.h3_description{
    font-size: 70%;
}

.date_container{
    margin-left: 10%;
}