.nav{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: brown;
    align-items: end;
    justify-content: end;
}

.navegador{
    align-items: end;
    justify-content: end;
    font-size: 90%;
    font-style: none;
}

.logo{
    font-size: 150%;
}
.logo{
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.navegador a {
    padding: 10%;
}

.birreria{
    font-size: 300%;
    color: chocolate;
    text-decoration: none;
}

.links{
    font-size: 80%;
    color: rgb(29, 13, 1);
    text-decoration: none;
}